.example-container .mat-form-field + .mat-form-field {
    margin-left: 100px;
  }


  :host {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items:center;
    padding-top: 5%;
  }

  mat-form-field.mat-form-field {
    font-size: 16px;
    display:flex;
    align-items: center;
    width:auto;
    vertical-align:super;
    margin-right: 10px;
  }

.button-confirm-user {
    background-color: #0f6955;
    color:#FFF;
}